body {
    margin: 0;
    padding: 0;
}

body,
button {
    font-family: 'Swiss 721 W03', 'Arial Narrow', Helvetica, Arial;
}

#help {
    background-color: red;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    transition: transform .5s;
    padding: 20px;
}

.front {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.front__part {
    flex: 2;
    padding: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 4em;
    background-color: #444;
}

.front__part a {
    color: #fff;
}

.biologi {
    flex: 1;
    background-color: blueviolet;
}

.fysik-kemi {
    flex: 1;
    background-color: darkcyan
}

.geografi {
    flex: 1;
    background-color: blue;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
}

.element {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    font-size: 18px;
    padding: 10px;
    width: 75px;
}

.element__number {
    position: absolute;
    top: 5px;
    left: 5px;
}

.element__symbol {
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
}

.element__name {
    text-align: center;
    margin-bottom: 10px;
}

.btns {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.btn {
    font-size: 24px;
    border-radius: 0;
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}



@font-face {
    font-family: "Swiss 721 W01_n2";
    src: url("/assets/fonts/8936dd78-6787-48e6-b578-0df6e400b3e1.eot?#iefix") format("eot")
}

@font-face {
    font-family: "Swiss 721 W01";
    src: url("/assets/fonts/8936dd78-6787-48e6-b578-0df6e400b3e1.eot?#iefix");
    src: url("/assets/fonts/8936dd78-6787-48e6-b578-0df6e400b3e1.eot?#iefix") format("eot"), url("/assets/fonts/2fdec0cf-6a9b-4f77-a39b-5749e8982851.woff2") format("woff2"), url("/assets/fonts/d1001ef9-2b8e-4cd1-99e7-9f48a6f7d356.woff") format("woff"), url("/assets/fonts/0c9b7a6a-39da-4a63-8de4-3a91edeab5de.ttf") format("truetype"), url("/assets/fonts/a3f40f07-8d2b-4630-a6c6-a6e1ceb4e1e7.svg#a3f40f07-8d2b-4630-a6c6-a6e1ceb4e1e7") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Swiss 721 W01";
    src: url("/assets/fonts/d75c3426-6722-419e-97ba-b79455524453.eot?#iefix");
    src: url("/assets/fonts/d75c3426-6722-419e-97ba-b79455524453.eot?#iefix") format("eot"), url("/assets/fonts/601ca652-14f3-473e-8985-43447e32a0a9.woff2") format("woff2"), url("/assets/fonts/a6f1a854-9263-4e9c-9b8b-b4a5088262d9.woff") format("woff"), url("/assets/fonts/1a248e9c-07ff-4842-b342-01cfcc0c6cd6.ttf") format("truetype"), url("/assets/fonts/80d87eec-57cb-4899-a45b-8bc125bec359.svg#80d87eec-57cb-4899-a45b-8bc125bec359") format("svg");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Swiss 721 W01_n7";
    src: url("/assets/fonts/5b9ccca5-47aa-44da-9a69-75a9c5b8f314.eot?#iefix") format("eot")
}

@font-face {
    font-family: "Swiss 721 W01";
    src: url("/assets/fonts/5b9ccca5-47aa-44da-9a69-75a9c5b8f314.eot?#iefix");
    src: url("/assets/fonts/5b9ccca5-47aa-44da-9a69-75a9c5b8f314.eot?#iefix") format("eot"), url("/assets/fonts/b30d2835-5b41-443d-bb15-9fe76345d117.woff2") format("woff2"), url("/assets/fonts/6f8c05f7-2d01-4282-ba89-505635df2953.woff") format("woff"), url("/assets/fonts/3fa115a3-0515-4bbd-94cc-555dc6341889.ttf") format("truetype"), url("/assets/fonts/d3755f1d-88db-4cd3-a42b-8226e3aeeaf4.svg#d3755f1d-88db-4cd3-a42b-8226e3aeeaf4") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Swiss 721 W03_n2";
    src: url("/assets/fonts/ea7b43c8-e86c-401d-9d91-66806de49029.eot?#iefix") format("eot")
}

@font-face {
    font-family: "Swiss 721 W03";
    src: url("/assets/fonts/ea7b43c8-e86c-401d-9d91-66806de49029.eot?#iefix");
    src: url("/assets/fonts/ea7b43c8-e86c-401d-9d91-66806de49029.eot?#iefix") format("eot"), url("/assets/fonts/0c5598c6-3ae9-4a24-a8a4-ca2054a96710.woff2") format("woff2"), url("/assets/fonts/159799e2-a429-4419-a67a-0fa0ba3600e8.woff") format("woff"), url("/assets/fonts/026eb06c-bcbb-4ef9-86a3-da25f5a41174.ttf") format("truetype"), url("/assets/fonts/d9e7690d-7f09-431a-8233-ee404f026625.svg#d9e7690d-7f09-431a-8233-ee404f026625") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Swiss 721 W03_i2";
    src: url("/assets/fonts/bee463de-b3de-4afe-a69e-40914ff2d24d.eot?#iefix") format("eot")
}

@font-face {
    font-family: "Swiss 721 W03";
    src: url("/assets/fonts/bee463de-b3de-4afe-a69e-40914ff2d24d.eot?#iefix");
    src: url("/assets/fonts/bee463de-b3de-4afe-a69e-40914ff2d24d.eot?#iefix") format("eot"), url("/assets/fonts/c071f6c1-c197-4df0-9dc0-f9ab2bac7270.woff2") format("woff2"), url("/assets/fonts/46281fe8-6671-48ce-8aca-70887a7a43de.woff") format("woff"), url("/assets/fonts/8c3d4424-6264-4b7d-bc28-ad98a8ec6c37.ttf") format("truetype"), url("/assets/fonts/b3943caf-cd1a-46ed-8321-d07a04635021.svg#b3943caf-cd1a-46ed-8321-d07a04635021") format("svg");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Swiss 721 W03_n7";
    src: url("/assets/fonts/9b0ce8cc-baf3-4e95-8892-25a64f8d61b8.eot?#iefix") format("eot")
}

@font-face {
    font-family: "Swiss 721 W03";
    src: url("/assets/fonts/9b0ce8cc-baf3-4e95-8892-25a64f8d61b8.eot?#iefix");
    src: url("/assets/fonts/9b0ce8cc-baf3-4e95-8892-25a64f8d61b8.eot?#iefix") format("eot"), url("/assets/fonts/e1bf81d5-f1d7-485e-9e1d-ad854aa466d4.woff2") format("woff2"), url("/assets/fonts/74076fde-d724-4d49-96da-2ec3aebc8999.woff") format("woff"), url("/assets/fonts/f7555149-7538-441f-87d2-dc11b7a9bd1c.ttf") format("truetype"), url("/assets/fonts/6237c809-94a8-4c0b-b0da-f8cc62f38167.svg#6237c809-94a8-4c0b-b0da-f8cc62f38167") format("svg");
    font-weight: 700;
    font-style: normal;
}